# Peptide-Pay API
PEPTIDEPAY_API_URL=https://www.peptide-pay.com
PEPTIDEPAY_API_KEY=
PEPTIDEPAY_WALLET=0x436c0c0d27be0f8ccf18ca7564534b1a50f59969
PEPTIDEPAY_WEBHOOK_SECRET=

# Site
PUBLIC_SITE_URL=https://uk-peptides.eu
